<div class="container-fluid m-0 p-0 p-2">
    <div class="m-5">
        <div class="d-flex justify-content-between my-3">
            <%= link_to "Book a Teacher", "https://docs.google.com/forms/d/e/1FAIpQLSevvPvgH9mqJu8PQaRrdU8l36WQn1mP-7VfYhGUV3q6rBcHLA/viewform?usp=send_form", class:"btn btn-danger my-auto", target: "_blank" %>
            <form action="/" method="POST">
                <div class="d-flex">
                    <input type="text" placeholder="Search..." class="form-control input-field">
                    <button class="btn btn-danger">Search</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teacher/english/1" class="nav-link">
                        <%= image_tag "teachers/english/english1", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Nada N.<br>
                            IELTS, Pre A1, A1, A2, B1, B2, TOEFL
                        </div>
                        <span class="text-success">15.00$/hr</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teacher/english/2" class="nav-link">
                        <%= image_tag "teachers/english/english2", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Maria A.<br>
                            IELTS, A2, B1, B2, C1, C2, TOEFL, SAT, Buisness English
                        </div>
                        <span class="text-success">15.00$/hr</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teacher/english/3" class="nav-link">
                        <%= image_tag "teachers/english/english3", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Yara F.<br>
                            IELTS, Pre A1, A1, A2, B1, B2, C1, C2, TOEFL, SAT, GRE, Gmat
                        </div>
                        <span class="text-success">12.00$/hr</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teacher/english/4" class="nav-link">
                        <%= image_tag "teachers/english/english4", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Rayana K.<br>
                            Pre A1
                        </div>
                        <span class="text-success">15.00$/hr</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teacher/english/5" class="nav-link">
                        <%= image_tag "teachers/english/english5", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Alegandro O.<br>
                            A1, A2, B1, B2, TOEFL, Job interview preparation, English for traveling
                        </div>
                        <span class="text-success">10.00$/hr</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teacher/english/6" class="nav-link">
                        <%= image_tag "teachers/english/english6", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Nadine T.<br>
                            IELTS, Pre A1, A1, A2, B1, B2, C1, C2, TOEFL, SAT, EEE
                        </div>
                        <span class="text-success">20.00$/hr</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teacher/english/7" class="nav-link">
                        <%= image_tag "teachers/english/english7", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Hoda N.<br>
                            IELTS, Pre A1, A1, A2, B1, B2, C1, C2
                        </div>
                        <span class="text-success">20.00$/hr</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teacher/english/8" class="nav-link">
                        <%= image_tag "teachers/english/english8", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Mariam A.<br>
                            Pre A1, A1
                        </div>
                        <span class="text-success">15.00$/hr</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>