<div class="container-fluid m-0 p-0 p-2">
    <div class="m-5">
        <div class="d-flex justify-content-between my-3">
            <%= link_to "Book a Teacher", "https://docs.google.com/forms/d/e/1FAIpQLSevvPvgH9mqJu8PQaRrdU8l36WQn1mP-7VfYhGUV3q6rBcHLA/viewform?usp=send_form", class:"btn btn-danger my-auto", target: "_blank" %>
            <form action="/" method="POST">
                <div class="d-flex">
                    <input type="text" placeholder="Search..." class="form-control input-field">
                    <button class="btn btn-danger">Search</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teacher/french/1" class="nav-link">
                        <%= image_tag "teachers/french/french1", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Nahla E.<br>
                            A1, A2, DELF
                        </div>
                        <span class="text-success">10.00$/hr</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teacher/french/2" class="nav-link">
                        <%= image_tag "teachers/french/french2", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Farah D.<br>
                            Pre A1, A1, A2, B1, B2, DELF, Francais des affaires
                        </div>
                        <span class="text-success">10.00$/hr</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teachers/french/french/3" class="nav-link">
                        <%= image_tag "teachers/french/french3", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Marwa G.<br>
                            TCF, DEF, Pre A1, A1, A2, B1, B2, C1, C2, DELF
                        </div>
                        <span class="text-success">30.00$/hr</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teacher/french/4" class="nav-link">
                        <%= image_tag "teachers/french/french4", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Manal G.<br>
                            TCF, TEF, DELF, A1, A2, B1, B2 
                        </div>
                        <span class="text-success">20.00$/hr</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="teacher/french/5" class="nav-link">
                        <%= image_tag "teachers/french/french5", class:"profile-image teacher" %>
                        <div class="mt-3 text-custom-red">
                            Hoda N.<br>
                            Pre A1, A1, A2, B1, B2, C1, C2, DELF
                        </div>
                        <span class="text-success">20.00$/hr</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>