<div class="container-fluid m-0 p-0 p-2">
    <div class="d-flex flex-row w-100">
        <div class="banner card shadow">
            <%= image_tag "img15", class:"img-fluid w-full h-auto" %>
        </div>
    </div>
    <div class="text-center">
        <div class="text-custom-red text-center banner my-3">
            <p>Finding a job isn't that easy if you don't prepare very well for it. Crafting a Professional LinkedIn and CV is the best start. These are the first things your employer will look at. They are critical for the first impression. If they don't look professional and do not respect the Canadian culture (sexism, genderism, racism...) you have a really high chance of getting rejected. That is why you have to make sure you have established a professional portfolio. Take a look.</p>
        </div>
        <%= link_to "Build a Portfolio", recruiters_path, class:"btn btn-danger my-3" %><br>
    </div>
    <div class="d-flex flex-row w-100">
        <div class="banner card shadow">
            <%= image_tag "img16", class:"img-fluid w-full h-auto" %>
        </div>
    </div>
    <div class="text-center">
        <div class="text-custom-red text-center banner my-3">
            <p>Also, you have to consider learning some languages, however, it is not mandatory, but for sure it will boost your chances in finding a job. After all, you will have to communicate in French or English at work.</p>
        </div>
        <%= link_to "Learn English", english_teachers_path, class:"btn btn-danger my-3" %><br>
        <div class="text-custom-red text-center banner my-3">
            <p>The french language is extremely demanded to integrate more french speakers across Canada since only in Quebec people speak french. Canada wants to popularize its official language across its lands. Learn french you will never regret it!</p>
        </div>
        <%= link_to "Learn French", french_teachers_path, class:"btn btn-danger my-3" %><br>
        <div class="text-custom-red text-center banner my-3">
            <p>If you are certain that you are fully prepared for finding a job then all you have to do is to hire a professional to do the job. Searching online on all the platforms will not help because Canada strongly protects its labour, and companies will not be able to hire someone from abroad unless it hires a consultant to prepare its papers. It has to pass certain assesments and provide proof that the position it is seeking isn't available in Canada. That is why hiring a consultant to do the job for you will enormously increase your chances and will secure a 100% guaranteed job.</p>
        </div>
    </div>
    <div class="d-flex flex-row w-100">
        <div class="banner card shadow">
            <%= image_tag "img14", class:"img-fluid w-full h-auto" %>
        </div>
    </div>
    <div class="text-center">
        <div class="text-custom-red text-center banner my-3">
            <p>Finding a job for you may require some time ranging from one to ten months. The consultant will have to take your portfolio and contact or explore locations in order to match you with the best company. This requires a lot of work, and a lot of contributions. This is why hiring him/her requirs someone who is serious, determined, patient, and persistent to find a job. Thus, the consultant will need a 300$ retainer as a proof of this person's commitment.</p>
        </div>
    </div>
    <div class="d-flex flex-row w-100">
        <div class="banner card shadow">
            <%= image_tag "img13", class:"img-fluid w-full h-auto" %>
        </div>
    </div>
    <div class="text-center">
        <div class="text-custom-red text-center banner my-3">
            <p>After the consultant matches you with a company, the next step will be 100% guaranteed. You will have the visa in one to two months. And you will land in Canada. Good Luck! Wish you all the best.</p>
        </div>
        <%= link_to "Proceed", "https://docs.google.com/forms/d/e/1FAIpQLSdGWmVcLJtBGw6LgPtpFRLMcJBbqaLOar8ZP5KLrway_vwGYA/viewform?usp=send_form", class:"btn btn-danger my-3", target: "_blank" %><br>
        <div class="text-custom-gray text-center banner my-3">
            <p>Note: Click proceed to fill the form and book a meeting with the consultant. Make sure you have read the informations before booking.</p>
        </div>
    </div>
</div>
        
