<div class="container-fluid m-0 p-0 p-2">
    <div class="m-5">
        <div class="d-flex justify-content-end my-3">
            <form action="/" method="POST">
                <div class="d-flex">
                    <input type="text" placeholder="Search..." class="form-control input-field">
                    <button class="btn btn-danger">Search</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="https://amzn.to/3Wmv7pD" class="nav-link" target="__blank">
                        <%= image_tag "books/book1", class:"profile-image book" %>
                        <div class="mt-3 text-custom-red">
                            IELTS
                        </div>
                        <span class="text-success">15.99$</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="https://amzn.to/3J1oOVo" class="nav-link" target="__blank">
                        <%= image_tag "books/book2", class:"profile-image book" %>
                        <div class="mt-3 text-custom-red">
                            IELTS
                        </div>
                        <span class="text-success">45.25$</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="https://amzn.to/3Xo7o9P" class="nav-link" target="__blank">
                        <%= image_tag "books/book3", class:"profile-image book" %>
                        <div class="mt-3 text-custom-red">
                            TCF
                        </div>
                        <span class="text-success">22.00$</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="https://amzn.to/3Hgwa6j" class="nav-link" target="__blank">
                        <%= image_tag "books/book4", class:"profile-image book" %>
                        <div class="mt-3 text-custom-red">
                            TEF
                        </div>
                        <span class="text-success">14.97$</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="https://amzn.to/3iSF3tj" class="nav-link" target="__blank">
                        <%= image_tag "books/book5", class:"profile-image book" %>
                        <div class="mt-3 text-custom-red">
                            SAT
                        </div>
                        <span class="text-success">12.99$</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="https://amzn.to/3iLCSrH" class="nav-link" target="__blank">
                        <%= image_tag "books/book6", class:"profile-image book" %>
                        <div class="mt-3 text-custom-red">
                            TOEFL
                        </div>
                        <span class="text-success">24.99$</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="https://amzn.to/3Xpo5Sr" class="nav-link" target="__blank">
                        <%= image_tag "books/book7", class:"profile-image book" %>
                        <div class="mt-3 text-custom-red">
                            DELF B2
                        </div>
                        <span class="text-success">23.45$</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="https://amzn.to/3J2Xc29" class="nav-link" target="__blank">
                        <%= image_tag "books/book8", class:"profile-image book" %>
                        <div class="mt-3 text-custom-red">
                            GRE
                        </div>
                        <span class="text-success">12.99$</span>
                    </a>
                </div>
            </div>
            <div class="col-md-3 my-3">
                <div class="card shadow p-2 text-center">
                    <a href="https://amzn.to/3R0KR0E" class="nav-link" target="__blank">
                        <%= image_tag "books/book9", class:"profile-image book" %>
                        <div class="mt-3 text-custom-red">
                            GMAT
                        </div>
                        <span class="text-success">49.89$</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>