<div class="container-fluid m-0 p-0 p-2">
    <div class="m-5">
        <div class="d-flex justify-content-end my-3">
            <%= search_form_for(@q, url: "/materials", method: :get) do |f| %>
                <div class="d-flex my-auto">
                <%= f.search_field :name_cont, placeholder: "Search...", class:"form-control input-field" %>
                <%= f.submit "Search", class:"btn btn-danger mx-2" %>
                </div>
            <% end %>
        </div>
        <div class="row">
            <% @materials.each do |material| %>
                <div class="col-md-3 my-3">
                    <div class="card shadow p-2 text-center">
                        <a href="<%= material.link %>" class="nav-link" target="__blank">
                            <% if material.image.attached? %>
                                <%= image_tag material.image, class:"profile-image book" %>
                            <% else %>
                                <%= image_tag "default_profile", class:"profile-image book" %>
                            <% end %>
                            <div class="mt-3 text-custom-red">
                                <%= material.name %>
                            </div>
                            <span class="text-success"><%= material.price %>$</span>
                        </a>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>