<div class="container-fluid m-0 p-0 p-2">
    <div class="m-5">
        <div class="d-flex justify-content-between my-3">
            <%= link_to "Book a Recruiter", "https://calendly.com/matchmewithcanada/meeting", class:"btn btn-danger my-auto", target:"_blank" %>
            <%= search_form_for(@q, url: "/recruiters", method: :get) do |f| %>
                <div class="d-flex my-auto">
                <%= f.search_field :name_cont, placeholder: "Search...", class:"form-control input-field" %>
                <%= f.submit "Search", class:"btn btn-danger mx-2" %>
                </div>
            <% end %>
        </div>
        <div class="row">
            <% @users.each do |user| %>
                <div class="col-md-3 my-3">
                    <div class="card shadow p-2 text-center">
                        <a href="/" class="nav-link">
                            <% if user.image.attached? %>
                                <%= image_tag user.image, class:"profile-image teacher" %>
                            <% else %>
                                <%= image_tag "default_profile", class:"profile-image teacher" %>
                            <% end %>
                            <div class="mt-3 text-custom-red">
                                <%= user.name %><br>
                                <%= user.description %>
                            </div>
                            <span class="text-success"> <%= user.price %>$/package</span>
                        </a>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>