<div class="container-fluid m-0 p-0 p-2">
    <div class="text-center">
        <%= link_to "Quick Advice", "https://calendly.com/matchmewithcanada/meeting", class:"btn bg-custom-pink text-white my-3" %>
    </div>
    <div class="d-flex flex-row w-100">
        <div class="banner card shadow">
            <%= image_tag "img8", class:"img-fluid w-full h-auto" %>
        </div>
    </div>
    <div class="text-center">
        <%= link_to "Hire a Pro to Find you a Job", hire_a_professional_path, class:"btn btn-danger my-3" %><br>
    </div>
    <div class="d-flex flex-row w-100">
        <div class="banner card shadow">
            <%= image_tag "img18", class:"img-fluid w-full h-auto" %>
        </div>
    </div>
    <div class="text-center">
        <%= link_to "Immigrate", "https://docs.google.com/forms/d/e/1FAIpQLSdvP7ngSnU1pW_HsTsyLSovjVCZFGOI0atv0VZ4QTcwyr7uVQ/viewform?usp=send_form", class:"btn btn-danger my-3" %><br>
        <div class="text-custom-pink text-center banner">
            <p>Before immigrating you have to</p>
        </div>
        <%= link_to "Do the IELTS Exam", english_teachers_path, class:"btn bg-custom-pink text-white my-3" %><br>
        <%= link_to "Do the TCF/TEF Exam", french_teachers_path, class:"btn bg-custom-pink text-white my-3" %><br>
        <%= link_to "Education Credential Assesment", "https://wes.org", class:"btn bg-custom-pink text-white my-3", target: "_blank" %><br>
        <%= link_to "Canadian Reference Letter", recruiters_path, class:"btn bg-custom-pink text-white my-3" %><br>
    </div>
    <div class="d-flex flex-row w-100">
        <div class="banner card shadow">
            <%= image_tag "img4", class:"img-fluid w-full h-auto" %>
        </div>
    </div>
    <div class="text-center">
        <%= link_to "Find a learning institute", "https://docs.google.com/forms/d/e/1FAIpQLSf7hFuK27o6IG79XB4w4wA6AZak_vBk9l8GZ5tpeN4dmx-0mA/viewform?usp=send_form", class:"btn btn-danger my-3", target: "_blank" %><br>
        <div class="text-custom-pink text-center banner">
            <p>Most of the learning institutes require:</p>
        </div>
        <%= link_to "English Test", english_teachers_path, class:"btn bg-custom-pink text-white my-3" %><br>
        <%= link_to "French Test", french_teachers_path, class:"btn bg-custom-pink text-white my-3" %><br>
    </div> 
    <div class="d-flex flex-row w-100">
        <div class="banner card shadow">
            <%= image_tag "img19", class:"img-fluid w-full h-auto" %>
        </div>
    </div>
    <div class="text-center">
        <%= link_to "I have a job offer", "https://docs.google.com/forms/d/e/1FAIpQLSeuZG2-NIu3CS6DOPSZTXW47bSRmrX9c23-UZDVKwS5G6s_Ng/viewform?usp=send_form", class:"btn btn-danger my-3", target: "_blank" %><br>
    </div> 
    <div class="d-flex flex-row w-100">
        <div class="banner card shadow">
            <%= image_tag "img5", class:"img-fluid w-full h-auto" %>
        </div>
    </div>
    <div class="text-center">
        <%= link_to "I have a letter of acceptance", "https://docs.google.com/forms/d/e/1FAIpQLSek1XAmZU9AcFaNuubK6ZB1_nxvWA3J-mw9NbEcVfT4ttOW5w/viewform", class:"btn btn-danger my-3", target: "_blank" %><br>
    </div> 
    <div class="d-flex flex-row w-100">
        <div class="banner card shadow">
            <%= image_tag "img6", class:"img-fluid w-full h-auto" %>
        </div>
    </div>
    <div class="text-center">
        <%= link_to "Guidance / Problem Solving 300$/hr", "https://docs.google.com/forms/d/e/1FAIpQLScGx_C58UbUU3m3p1EuSZoWOTbBzumCnNFVpzfkmhNeBEJn0g/viewform", class:"btn btn-danger my-3", target: "_blank" %><br>
    </div> 
</div>
